<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="StatisticsEntity"
      connectionString="metadata=res://*/StatisticsDataModel.csdl|res://*/StatisticsDataModel.ssdl|res://*/StatisticsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2S2XTK2\MSSQLSERVER2016;initial catalog=Statistics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceTimer" value="60000"/>
    <add key="AirCallForCallUri" value="https://api.aircall.io/v1/calls"/>
    <add key="FreshServiceForTicketsUri" value="https://f1solutions.freshservice.com/api/v2/tickets"/>
    <add key="FreshServiceForAgentGroupsUri" value="https://f1solutions.freshservice.com/api/v2/groups"/>
    <add key="FreshServiceApiKey" value="Jjy5AtMzNVMxclBFgwS"/>
    <add key="AirCallApiId" value="9fe5a37145559c892935668b40c78eb9"/>
    <add key="AirCallApiToken" value="dbfd7d413842e9041e8a16d5909581c4"/>
    <add key="MspNumber" value="1300 0 MSP"/>
    <add key="RegisNumber" value="1300 0 REGIS"/>
    <add key="FirstLevelHelpDesk" value="1st Level Helpdesk"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>